@import 'celular';

*{
    margin: 0px;
    padding: 0px;
}

//ESCRITORIO NORMAL
@media (min-width: 1024px) { 
body{
    background: radial-gradient(rgba(0, 0, 0, 0.74), rgba(0, 0, 0, 0.63)), url(../elementos/fondo.jpg);
    background-size:cover;
    width: 100vw;
    height: 113vh;
    background-repeat: no-repeat;
#p-celu{
    display: none;
}

.nav{
    position: fixed;
    z-index: 1;
    display: flex;
    justify-items:end;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.336);
    top:0px;
    .contacto{
        padding-right: 5vh;
    }
    
    a{
        color: azure;
        
    }
    a:hover{
        color: rgb(190, 8, 190);
    }

}
main{
    margin-top: 10vh;
#carouselExampleControls{
    height: 90vh;
    width: 99vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20vh;
    div{
        width: 50vw;
            div{
                div.cajaFoto{
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                padding-top: 10px;
                .foto-cv{
                    width: 50%;
                }
                    svg.people{
                        width: 200px;
                        path{
                            fill: whitesmoke
                        }
                    }
                }
                .iconos{
                    display: flex;
                    justify-content: space-around;
                    svg.icon{
                        width: 100px;
                        padding-top: 10px;
                        path{
                            fill:whitesmoke;
                        }
                    }
                    svg.icon2{
                        width: 120px;
                        padding-top: 10px;
                        path{
                            fill:whitesmoke;
                        }
                    }
                }
        }
    }
}
#carouselExampleIndicators{
    height: 95vh;
    width: 99vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20vh;
    .carousel-control-next{
        top: 100px !important;
    }
    div{
        margin-top: 10vh;
        width: 50vw;
          
            div{
                .celular{
                    display: flex;
                    flex-direction: row;
                    height:75vh;
                    div.texto{
                        display: flex;
                        flex-direction: column;
                        height: 75vh;
                        justify-content: flex-start;
                        margin-right: 5vh;
                        .h2_portfolio{
                            color: rgb(190, 8, 190);
                        }
                    }
                }
                section{
                height: 80vh;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                
                .h2_portfolio{
                    color: rgb(190, 8, 190);
                    margin-top: 1vh;
                    font-size: 350%;
                }
                .h3_portfolio{
                    color: rgb(190, 8, 190);
                    font-size: 250%;
                }
                p{
                    font-size: 125%;
                    text-align: center;
                }
                div{
                    display: flex;
                    justify-content: center;
                    align-content: flex-start;
                    .fitness, .videoEscritorio{
                        width: 40vw;
                        align-self: flex-start;
                    }
                    .videoCelu{
                        height: 75vh;
                    }
                }
                .p-celu{
                    display: none;
                }
            }
        }
    }
}

section{
    background:radial-gradient(white, white);
    height: 100vh;
    display: flex;
    align-items: center;
    .estudio{
          h3{
            font-size: 300%;
            color: rgb(192, 23, 192);
            }
        div{
            opacity: 1.5;
            div{
                display: flex;
                flex-direction: column;
                    .icono{
                        width: 150px;
                        align-self: center;
                        padding-top: 15px;
                        path{
                            fill: rgba(63, 54, 63, 0.658);

                        }

                    }
                    .boots{
                        width: 165px;
                    }
                    .js{
                        width: 130px;
                    }
                    .front{
                        width: 180px;
                        padding-top: 28px;
                    }
                    div{
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        .btn{
                            align-items: flex-end;
                        }
                    }
            }
          
        }
    }
}

h1, h2, h3{
    font-family: 'EB Garamond', serif;
    text-align: center;
    color: rgb(255, 238, 0);
}

}
footer{
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.904);
    height: 30vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    div.texto{
        display: flex;
        align-content: flex-start;
        flex-direction: column;
        justify-content: flex-start;
        padding-top: 20px;
        p{
            width: 40vw;
            color: rgb(170, 170, 170);
            padding-left: 25px;
        }
    }
    div.info{display: flex;
        flex-direction: column;
        padding-top: 20px;
        a{  
            margin-left: 50px;
            font-size: 150%;
            color: whitesmoke;
            text-decoration: none;
        }
        a:hover{
            color: rgb(255, 238, 0);
        }
    }
}
}
}